body{
    background-color:#EAF6F6;
   }
   hr{
       border-top-color: grey;
       border-style:dotted none none;
       border-width: 5px;
       width:5%;
       height:0px
   }
   img{
       height: 250px;
   }
   h2{
       color: #66bfbf;
   }
   h1{
    color: #66bfbf;
   }
   img{
       background-color:black;
   }
   .my{
       background-color:coral;
   }
   h1:hover{
         /* background-color: gold;<!--when cursor went there the background color become gold--> */
         background-color: gold;
   }
   
       
   
   .pp{
       font-style: italic;
   }
   /*in id and class id always wins*/
   /*we can badd two class at same time while we cannot add two id at same time*/